/* Nav modifications */
body { margin-top: 70px; }
ul.nav li ul { opacity: 0.8; }
ul.nav li:hover a { background: #4f90d3; }
ul.nav ul.hidden li a { color: #fff; }

/* Add shadows to h1 tags */
h1 { text-shadow: 1px 1px 1px #000; }
