ul.nav {
	list-style-type:none;
	margin: 10px 0 40px;
	padding:0;
	position: relative;
	min-height: 45px;
}

ul.nav ul.hidden {
  position: absolute;
  /*max-width: 250px;*/
  z-index: 9999;
  margin: 0;
  padding:0;
}
/*Create a horizontal list with spacing*/
ul.nav li {
	display:block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
ul.nav li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
ul.nav li:hover a {
	background: #19c589;
}

/*Style for dropdown links*/
ul.nav li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
ul.nav li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
ul.nav li ul {
	display: none;
}

/*Make dropdown links vertical*/
ul.nav li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
ul.nav li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul.nav li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' link and hide it by default*/
a.nav-toggle {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul.nav {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	ul.nav li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul.nav li, ul.nav li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	a.nav-toggle {
		display:block;
	}
	/*Make 'show menu' link work*/
	a.nav-toggle:focus + ul {
		display:block;
	}
	
	ul.nav ul.hidden { position: relative; }
}