/**
 * Mold CSS Framework
 */

@import url('font-awesome.min.css');

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #333;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  box-sizing: border-box;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  /*float:left;*/
}


/* Columns */
.col-one, .col-two, .col-three,
.col-four, .col-five, .col-six,
.col-seven, .col-eight, .col-nine,
.col-ten, .col-eleven, .col-twelve {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  box-sizing: border-box;
}

.col-twelve { width: 100%; }
.col-six { width: 50%; }
.col-three { width: 25%; }
.col-seven { width: 58.33333333%; }

.col-wrap-mob { display: none; }

/* Headings */
h2, h3 {
  font-weight: 500;
  margin: 15px 0 10px;
}


h1 {
  font-weight: 700;
  margin: 20px 0 15px;
  font-size: 37px;
  line-height: 40px;
}

h2 {
  line-height: 33px;
  font-size: 30px;
}

h3 {
  line-height: 27px;
  font-size: 24px;
}

h4 {
  font-weight: normal;
  line-height: 20px;
  font-size: 17px;
}

:before, :after { box-sizing: border-box; }

/* Lovely, lovely buttons and links */

a {
  color: #3b97f5;
  text-decoration: none;
}

a:hover {
  color: #2f75bd;
  text-decoration: none;
}

.btn {
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 18px;
  margin: 2px 0 2px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border: 1px solid transparent;
  color: #fff;
}

.btn-default {
  color: #fff;
  background-color: #333;
  border-color: #fafafa;
}

.btn-blue {
  color: #fff;
  background-color: #007fff; 
  border-color: #ccccf7;
}

.btn-blue:hover {
  color: #fff;
  background-color: #0461be;
} 

.btn.with-easing {
  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.btn-default:hover {
  color: #fff;
  background-color: #585858;
}

.responsive {
  max-width: 100%;
  height: auto;
}

img.with-easing {
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);

  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

img.with-easing:hover {
  -moz-opacity:1.0;
  -khtml-opacity: 1;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

/* Mobile Screens */
@media (min-width: 480px) {
  .container {
    width: 462px;
  }
}

/* Small Screens */
@media (min-width: 768px) {
  .container { 
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/**
 * For mobile devices we need to raise the width of
 * some of the smaller columns to wrap them so they 
 * don't look squished!
 */

@media (max-width: 480px) {
  .col-one, .col-two, .col-three,
  .col-four, .col-five, .col-six,
  .col-seven, .col-eight, .col-nine,
  .col-ten, .col-eleven, .col-twelve {
    float: left;
  }

  .col-six {
    width: 100%;
  }

  .col-three {
    width: 50%;
    padding-right: 0;
    padding-left: 0;
  }

  .col-three:nth-child(3) {
    clear:both;
  }

  /* Use this is IE8 or earlier */
  .col-wrap-mob {
    display: block;
    clear: both;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Forms */

.form > .form-grp {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin-bottom: 10px;
}

.form > .form-grp > .form-label {
  font-size: 13px;
  width: 25%;
  float: left;
  padding: 5px 15px 5px;
  font-weight: 700;
}

.form > .form-grp > .form-control {
  width: 75%;
  float: right;
}

.form.with-easing input,
.form.with-easing select,
.form.with-easing textarea {
  -webkit-transition: border .3s ease-in-out;
  -moz-transition: border .3s ease-in-out;
  -o-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  /*width: 100%;*/
  border-top: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #ccc;
  padding: 5px;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  .form > .form-grp {
    margin-bottom: 15px;
  }

  .form > .form-grp > .form-label {
    width: 100%;
    float: none;
    margin-bottom: 5px;
    padding-left: 0;
  }

  .form > .form-grp > .form-control {
    width: 100%;
    float: none;
  }

  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}

@media (min-width: 1200px) {
  .form > .form-grp > .form-label {
    text-align: right;
  }
}

/* Nav menu */

.nav-menu { position: relative; }
#toggle, .toggle { display: none; }
.menu > li { list-style: none; float:left;  }
.menu { z-index: 9999; }
/* Nicolas Gallagher micro clearfix */
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

@media only screen and (max-width: 768px){
  .menu { display: none; opacity: 0; width: 100%; position: absolute; right: 0; }
  .menu > li { display: block; width: 100%; margin: 0; }
  .menu > li > a { display: block; width: 100%; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .toggle { display: block; position: relative; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
  #toggle:checked ~ .menu { display: block; opacity: 1; z-index: 9999}
}


/*--------------------------------
 Presentation Styles (Editable)
---------------------------------*/
.nav-menu{
  min-height: 100px;
  height: 100%;
  padding: 0 20px;
  background: #FFFFFF;
}

.nav-menu > h1 {
  float: left;
  padding: 30px 0 0;    
  font-style: italic;
  font-family: Georgia;
  font-size: 28px;
  color: #DFDFDF;
}

.nav{ 
  display: block; 
  float: right; 
}

.nav, .menu, .menu > li, .menu > li > a{ 
  height: 100%; 
}

.menu > li > a{
  display: block;
  padding: 42px 20px;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.menu > li > a:hover, .menu > li > a:focus{
  background: #F2F2F2;
  box-shadow: inset 0px 5px #51C1F1;
  color: #51C1F1;
  padding: 50px 20px 34px;
}

.toggle{ 
  z-index: 2; 
}

@media only screen and (max-width: 768px){
  .menu{
    background: #FFFFFF;
    border-top: 1px solid #51C1F1;
  }
  
  .menu, .menu > li, .menu > li > a{
    height: auto;
  }
  
  .menu > li > a{
    padding: 15px 15px;
  }
  
  .menu > li > a:hover, .menu > li > a:focus{
    background: #F2F2F2;
    box-shadow: inset 5px 0px #51C1F1;
    padding: 15px 15px 15px 25px;
  }
  
  .toggle:after {
    font-family: FontAwesome;
    content: '\f03a';
    display: block;
    margin: 33px 0;
    padding: 10px 20px;
    background: #51C1F1;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
  }
  
  .toggle:hover:after{
    background: #45ABD6;
  }
  
  #toggle:checked + .toggle:after{
    content: 'Close Menu';
  }
}

@media only screen and (max-width: 479px){
  .nav-menu > h1 { 
    text-align: center;
  }
  .nav-menu > h1, .nav, .toggle:after{ 
    float: none; 
  }
  .toggle:after { 
    text-align: center; width: 100%; 
  }
}

.container:before,
.container:after,
.row:before,
.row:after {
  clear:both;
}

